.home-container {
    display: flex; 
    position: relative; 
}

.sidebar {
    width: 230px; 
    background-color: #e6e6e6;
    color: black; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between; 
    position: sticky; 
    top: 0; 
    height: 100vh; 
    overflow-y: auto; 
    z-index: 1000;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    text-align: center; 
    margin-top: 10px; 
}

.logo-name {
    margin-right: 13px;
}

.logo {
    width: 80px; 
    height: auto;
    margin-right: 10px; 
    margin-top: 20px; 
    margin-left: 10px; 
}

.nav-links {
    color: black;
    list-style-type: none; 
    padding: 0; 
    margin: 0;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%;

}

.nav-links li {
    width: 100%; 
}

.nav-links a {
    display: block;
    color: black; 
    text-decoration: none; 
    font-size: 18px; 
    transition: background-color 0.3s, color 0.3s; 
    padding: 10px 15px; 
    width: 100%; 
    text-align: left; 
}

.nav-links a:hover {
    background-color: #d8d8d8; 
}

.nav-links a.active {
    color: yellow; 
    text-align: center;
    background-color: #3700ff;
    transition: 0.3s;
}

.logout-button {
    width: 50px;
    background-color: transparent; 
    color: #e53935; 
    border: none; 
    cursor: pointer; 
    transition: color 0.3s; 
    align-self: center; 
    margin-bottom: 20px; 
    font-size: 24px;
}

.logout-button:hover {
    color: #851f1f;
}

.hamburger {
    display: none;
    cursor: pointer;
    position: fixed; 
    top: 0; 
    left: 0;
    width: 50px;
    padding: 10px; 
    z-index: 200;
    text-align: center;
    font-size: 30px;
}

.main-content{
    overflow-x: hidden;
}

@media (max-width: 768px) {
    .sidebar {
        position: fixed; 
        top: 0; 
        width: 46vh;
        left: -430px;
        height: 100vh; 
        z-index: 100; 
        transition: left 0.3s ease;
        
    }

    .sidebar.open {
        left: 0; 
    }

    .hamburger {
        display: block;
    }

    .nav-links {
        display: none; 
    }

    .nav-links.open {
        display: flex; 
    }

    .main-content {
        margin-top: 60px;
    }
}


